In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('../data/fraud.txt')

In [3]:
data.head(3)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0

In [4]:
pd.set_option('display.max_columns', 100)

In [5]:
data.head(3)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0

In [6]:
data.columns

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat',
       'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat',
       'merch_long', 'is_fraud'],
      dtype='object')

In [7]:
data.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1852394 non-null  object
 1   cc_num                 1852394 non-null  int64
 2   merchant               1852394 non-null  object
 3   category               1852394 non-null  object
 4   amt                    1852394 non-null  float64
 5   first                  1852394 non-null  object
 6   last                   1852394 non-null  object
 7   gender                 1852394 non-null  object
 8   street                 1852394 non-null  object
 9   city                   1852394 non-null  object
 10  state                  1852394 non-null  object
 11  zip                    1852394 non-null  int64
 12  lat                    1852394 non-null  float64
 13  long                   1852394 non-null  float64
 14  city_pop               1852394 non-null  int64
 15  job                    1852394 non-null  object
 16  dob                    1852394 non-null  object
 17  trans_num              1852394 non-null  object
 18  unix_time              1852394 non-null  int64
 19  merch_lat              1852394 non-null  float64
 20  merch_long             1852394 non-null  float64
 21  is_fraud               1852394 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 310.9+ MB

In [8]:
round(data.describe(), 2)

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.852394e+06,1852394.00,1852394.00,1852394.00,1852394.00,1852394.00,1.852394e+06,1852394.00,1852394.00,1852394.00
mean,4.173860e+17,70.06,48813.26,38.54,-90.23,88643.67,1.358674e+09,38.54,-90.23,0.01
std,1.309115e+18,159.25,26881.85,5.07,13.75,301487.62,1.819508e+07,5.11,13.76,0.07
min,6.041621e+10,1.00,1257.00,20.03,-165.67,23.00,1.325376e+09,19.03,-166.67,0.00
25%,1.800429e+14,9.64,26237.00,34.67,-96.80,741.00,1.343017e+09,34.74,-96.90,0.00
50%,3.521417e+15,47.45,48174.00,39.35,-87.48,2443.00,1.357089e+09,39.37,-87.44,0.00
75%,4.642255e+15,83.10,72042.00,41.94,-80.16,20328.00,1.374581e+09,41.96,-80.25,0.00
max,4.992346e+18,28948.90,99921.00,66.69,-67.95,2906700.00,1.388534e+09,67.51,-66.95,1.00

---

# Data Cleaning

In [9]:
data.merchant.nunique() # drop

693

In [10]:
data.head(3)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0

In [11]:
data.drop(columns=['merchant', 'first', 'street', 'city', 'state', 'zip', 'job', 'trans_num', 'unix_time'], inplace=True)

In [12]:
data.head(3)

,trans_date_trans_time,cc_num,category,amt,last,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,misc_net,4.97,Banks,F,36.0788,-81.1781,3495,1988-03-09,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,Gill,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,entertainment,220.11,Sanchez,M,42.1808,-112.2620,4154,1962-01-19,43.150704,-112.154481,0

In [13]:
# Datetime formating

In [14]:
data['trans_date_trans_time'] = pd.to_datetime(data['trans_date_trans_time'])

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   trans_date_trans_time  datetime64[ns]
 1   cc_num                 int64
 2   category               object
 3   amt                    float64
 4   last                   object
 5   gender                 object
 6   lat                    float64
 7   long                   float64
 8   city_pop               int64
 9   dob                    object
 10  merch_lat              float64
 11  merch_long             float64
 12  is_fraud               int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(4)
memory usage: 183.7+ MB

---

# Feature Engineering

- ### Feature Engineering is the process of selecting, manipulating and transforming raw data into features that can be used in supervised learning.

In [16]:
# Z-score
# Sample data
temp = pd.DataFrame({'a' : [20, 30, 40, 20, 15, 30, 60, 80, 90, 500], 'b': [300, 500, 700, 600, 200, 600, 100, 700, 300, 500],
                     'c' : [20, 300, 30, 400, 15, 800, 40, 600, 45, 500] })
temp

     a    b    c
0   20  300   20
1   30  500  300
2   40  700   30
3   20  600  400
4   15  200   15
5   30  600  800
6   60  100   40
7   80  700  600
8   90  300   45
9  500  500  500

In [17]:
temp.mean()

a     88.5
b    450.0
c    275.0
dtype: float64

In [18]:
temp.std()

a    146.894709
b    212.132034
c    288.463362
dtype: float64

In [19]:
(temp['a']-88.5 )/ 146.894709

0   -0.466320
1   -0.398244
2   -0.330168
3   -0.466320
4   -0.500358
5   -0.398244
6   -0.194017
7   -0.057865
8    0.010211
9    2.801326
Name: a, dtype: float64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   trans_date_trans_time  datetime64[ns]
 1   cc_num                 int64
 2   category               object
 3   amt                    float64
 4   last                   object
 5   gender                 object
 6   lat                    float64
 7   long                   float64
 8   city_pop               int64
 9   dob                    object
 10  merch_lat              float64
 11  merch_long             float64
 12  is_fraud               int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(4)
memory usage: 183.7+ MB

In [21]:
data['cc_num'].value_counts()

cc_num
6538441737335434       4392
30270432095985         4392
4642255475285942       4386
6538891242532018       4386
4364010865167176       4386
                       ...
4352307151555405069       7
501894933032              7
4975457191020             7
6577777028615915          7
4295296907373             6
Name: count, Length: 999, dtype: int64

In [22]:
amt_mean = data.groupby('cc_num').mean(numeric_only=True)['amt']
amt_std = data.groupby('cc_num').std(numeric_only=True)['amt']

In [23]:
amt_info = pd.DataFrame({'mean' : amt_mean, 'std' : amt_std})

In [24]:
amt_info

                           mean          std
cc_num
60416207185           59.257796   142.869746
60422928733           65.483159    92.042844
60423098130           96.376084  1000.693872
60427851591          107.487550   131.014534
60487002085           64.096925   153.207660
...                         ...          ...
4958589671582726883   67.205600   137.504101
4973530368125489546   75.789148   258.847061
4980323467523543940   70.709484   119.903167
4989847570577635369   93.008939   128.396760
4992346398065154184   66.456040   140.982586

[999 rows x 2 columns]

In [25]:
amt_info.reset_index(inplace=True)

In [26]:
amt_info

                  cc_num        mean          std
0            60416207185   59.257796   142.869746
1            60422928733   65.483159    92.042844
2            60423098130   96.376084  1000.693872
3            60427851591  107.487550   131.014534
4            60487002085   64.096925   153.207660
..                   ...         ...          ...
994  4958589671582726883   67.205600   137.504101
995  4973530368125489546   75.789148   258.847061
996  4980323467523543940   70.709484   119.903167
997  4989847570577635369   93.008939   128.396760
998  4992346398065154184   66.456040   140.982586

[999 rows x 3 columns]

In [27]:
data = pd.merge(data,amt_info, how="left", on="cc_num")

In [28]:
data['amt_Z_score'] = (data['amt']-data['mean']) / data['std']

In [29]:
data.drop(columns=['mean', 'std'], inplace=True)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 14 columns):
 #   Column                 Dtype
---  ------                 -----
 0   trans_date_trans_time  datetime64[ns]
 1   cc_num                 int64
 2   category               object
 3   amt                    float64
 4   last                   object
 5   gender                 object
 6   lat                    float64
 7   long                   float64
 8   city_pop               int64
 9   dob                    object
 10  merch_lat              float64
 11  merch_long             float64
 12  is_fraud               int64
 13  amt_Z_score            float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(4)
memory usage: 197.9+ MB

In [31]:
p = data.groupby(['category', 'cc_num']).mean(numeric_only=True)['amt']
q = data.groupby(['category', 'cc_num']).std(numeric_only=True)['amt']

In [32]:
category_info = pd.DataFrame({'mean': p, 'std': q})

In [33]:
category_info.reset_index(inplace=True)

In [34]:
category_info

            category               cc_num        mean          std
0      entertainment          60416207185   51.838855    65.485714
1      entertainment          60422928733   55.050556    80.604453
2      entertainment          60423098130   46.041515    46.434742
3      entertainment          60427851591   73.221852     6.024123
4      entertainment          60487002085   64.482979    87.408562
...              ...                  ...         ...          ...
13166         travel  4958589671582726883   86.562222   527.590973
13167         travel  4973530368125489546  218.164167  1267.821532
13168         travel  4980323467523543940   38.043000   135.817182
13169         travel  4989847570577635369    4.826000     2.610875
13170         travel  4992346398065154184   70.527193   496.590801

[13171 rows x 4 columns]

In [35]:
data = data.merge(category_info, on=['category', 'cc_num'], how="left")

In [36]:
data['category_Z_score'] = (data['amt'] - data['mean']) / data['std']
data.drop(columns=['mean', 'std'], inplace=True)

In [37]:
data.head(3)

,trans_date_trans_time,cc_num,category,amt,last,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_Z_score,category_Z_score
0,2019-01-01 00:00:18,2703186189652095,misc_net,4.97,Banks,F,36.0788,-81.1781,3495,1988-03-09,36.011293,-82.048315,0,-0.662108,-0.688297
1,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,Gill,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631
2,2019-01-01 00:00:51,38859492057661,entertainment,220.11,Sanchez,M,42.1808,-112.2620,4154,1962-01-19,43.150704,-112.154481,0,1.287064,2.872509

In [38]:
!pip install geopy

Collecting geopy
  Using cached geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Using cached geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Using cached geopy-2.4.1-py3-none-any.whl (125 kB)
Using cached geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [42]:
import geopy.distance

data['distance'] = data.apply(lambda x: geopy.distance.distance((x['lat'], x['long']), (x['merch_lat'], x['merch_long'])).km, axis=1)

In [43]:
m = data.groupby('cc_num').mean(numeric_only=True)['distance']
s = data.groupby('cc_num').std(numeric_only=True)['distance']
dis_info = pd.DataFrame({'mean': m, 'std' : s})
dis_info.reset_index(inplace=True)

In [112]:
dis_info

                  cc_num       mean        std
0            60416207185  73.534542  28.698149
1            60422928733  78.986422  29.299240
2            60423098130  77.826916  28.187560
3            60427851591  75.711544  28.977432
4            60487002085  79.442907  28.767086
..                   ...        ...        ...
994  4958589671582726883  76.735763  29.123745
995  4973530368125489546  78.753844  29.450837
996  4980323467523543940  72.272008  28.279840
997  4989847570577635369  76.969707  29.386961
998  4992346398065154184  74.863047  29.070233

[999 rows x 3 columns]

In [44]:
data = data.merge(dis_info, on="cc_num", how="left")

In [45]:
data['dis_Z_score'] = (data['distance']-data['mean'])/data['std']
data.drop(columns=['mean', 'std'], inplace=True)

In [118]:
data.head(3)

,trans_date_trans_time,cc_num,category,amt,last,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_Z_score,category_Z_score,distance,dis_Z_score
0,2019-01-01 00:00:18,2703186189652095,misc_net,4.97,Banks,F,36.0788,-81.1781,3495,1988-03-09,36.011293,-82.048315,0,-0.662108,-0.688297,78.773821,0.030974
1,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,Gill,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631,30.216618,-1.475224
2,2019-01-01 00:00:51,38859492057661,entertainment,220.11,Sanchez,M,42.1808,-112.2620,4154,1962-01-19,43.150704,-112.154481,0,1.287064,2.872509,108.102912,1.160572

In [46]:
data['dob'] = pd.to_datetime(data['dob'])

In [47]:
data['age'] = 2021- data['dob'].dt.year

In [129]:
data.head(3)

,trans_date_trans_time,cc_num,category,amt,last,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_Z_score,category_Z_score,distance,dis_Z_score,age
0,2019-01-01 00:00:18,2703186189652095,misc_net,4.97,Banks,F,36.0788,-81.1781,3495,1988-03-09,36.011293,-82.048315,0,-0.662108,-0.688297,78.773821,0.030974,33
1,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,Gill,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631,30.216618,-1.475224,43
2,2019-01-01 00:00:51,38859492057661,entertainment,220.11,Sanchez,M,42.1808,-112.2620,4154,1962-01-19,43.150704,-112.154481,0,1.287064,2.872509,108.102912,1.160572,59

In [48]:
data.drop(columns=['cc_num', 'dob', 'lat', 'long', 'merch_lat', 'merch_long'], inplace=True)

In [131]:
data.head(3)

,trans_date_trans_time,category,amt,last,gender,city_pop,is_fraud,amt_Z_score,category_Z_score,distance,dis_Z_score,age
0,2019-01-01 00:00:18,misc_net,4.97,Banks,F,3495,0,-0.662108,-0.688297,78.773821,0.030974,33
1,2019-01-01 00:00:44,grocery_pos,107.23,Gill,F,149,0,0.321302,0.317631,30.216618,-1.475224,43
2,2019-01-01 00:00:51,entertainment,220.11,Sanchez,M,4154,0,1.287064,2.872509,108.102912,1.160572,59

In [49]:
data = pd.get_dummies(data, columns=['category', 'gender'], drop_first=True)

In [133]:
data.head(3)

,trans_date_trans_time,amt,last,city_pop,is_fraud,amt_Z_score,category_Z_score,distance,dis_Z_score,age,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
0,2019-01-01 00:00:18,4.97,Banks,3495,0,-0.662108,-0.688297,78.773821,0.030974,33,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,2019-01-01 00:00:44,107.23,Gill,149,0,0.321302,0.317631,30.216618,-1.475224,43,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,2019-01-01 00:00:51,220.11,Sanchez,4154,0,1.287064,2.872509,108.102912,1.160572,59,False,False,False,False,False,False,False,False,False,False,False,False,False,True

---

# Modeling and Estimation

In [50]:
data.set_index('trans_date_trans_time', inplace=True)

In [136]:
data.head(3)

,amt,last,city_pop,is_fraud,amt_Z_score,category_Z_score,distance,dis_Z_score,age,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
trans_date_trans_time,,,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:18,4.97,Banks,3495,0,-0.662108,-0.688297,78.773821,0.030974,33,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2019-01-01 00:00:44,107.23,Gill,149,0,0.321302,0.317631,30.216618,-1.475224,43,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2019-01-01 00:00:51,220.11,Sanchez,4154,0,1.287064,2.872509,108.102912,1.160572,59,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [51]:
data.drop('last', axis=1, inplace=True)

In [52]:
train = data[data.index < '2020-07-01']
test = data[data.index >= '2020-07-01']

In [169]:
train

,amt,city_pop,is_fraud,amt_Z_score,category_Z_score,distance,dis_Z_score,age,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
trans_date_trans_time,,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:18,4.97,3495,0,-0.662108,-0.688297,78.773821,0.030974,33,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2019-01-01 00:00:44,107.23,149,0,0.321302,0.317631,30.216618,-1.475224,43,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2019-01-01 00:00:51,220.11,4154,0,1.287064,2.872509,108.102912,1.160572,59,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2019-01-01 00:01:16,45.00,1939,0,-0.125287,-1.050197,95.685115,0.818063,54,False,True,False,False,False,False,False,False,False,False,False,False,False,True
2019-01-01 00:03:06,41.96,99,0,-0.565941,1.312866,77.702395,0.064037,35,False,False,False,False,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-30 23:59:22,1.76,2036,0,-0.333307,-0.330121,102.779991,0.960234,50,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2020-06-30 23:59:26,102.23,4913,0,0.294371,0.548342,41.174431,-1.256779,55,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2020-06-30 23:59:45,5.81,8874,0,-0.358329,-0.168437,82.348097,0.171135,21,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2020-06-30 23:59:50,4.53,532,0,-0.439246,-0.971683,46.744234,-0.967272,65,False,False,False,False,True,False,False,False,False,False,False,False,False,True
2020-06-30 23:59:50,41.97,1201,0,-0.569502,-1.574343,94.894365,0.651645,41,False,False,False,False,False,False,True,False,False,False,False,False,False,True

In [166]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1326733 entries, 2019-01-01 00:00:18 to 2020-06-30 23:59:50
Data columns (total 22 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   amt                      1326733 non-null  float64
 1   last                     1326733 non-null  object
 2   city_pop                 1326733 non-null  int64
 3   amt_Z_score              1326733 non-null  float64
 4   category_Z_score         1326552 non-null  float64
 5   distance                 1326733 non-null  float64
 6   dis_Z_score              1326733 non-null  float64
 7   age                      1326733 non-null  int32
 8   category_food_dining     1326733 non-null  bool
 9   category_gas_transport   1326733 non-null  bool
 10  category_grocery_net     1326733 non-null  bool
 11  category_grocery_pos     1326733 non-null  bool
 12  category_health_fitness  1326733 non-null  bool
 13  category_home            1326733 non-null  bool
 14  category_kids_pets       1326733 non-null  bool
 15  category_misc_net        1326733 non-null  bool
 16  category_misc_pos        1326733 non-null  bool
 17  category_personal_care   1326733 non-null  bool
 18  category_shopping_net    1326733 non-null  bool
 19  category_shopping_pos    1326733 non-null  bool
 20  category_travel          1326733 non-null  bool
 21  gender_M                 1326733 non-null  bool
dtypes: bool(14), float64(5), int32(1), int64(1), object(1)
memory usage: 103.8+ MB

In [53]:
X_train = train.drop('is_fraud', axis=1)
X_test = test.drop('is_fraud', axis=1)

y_train = train['is_fraud']
y_test = test['is_fraud']

In [54]:
!pip install lightgbm

Collecting lightgbm
  Using cached lightgbm-4.5.0-py3-none-win_amd64.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.17.0 in c:\users\user\desktop\김준수의대학\2024\2024-2학기\2024-2 머신러닝\.venv\lib\site-packages (from lightgbm) (2.1.1)
Requirement already satisfied: scipy in c:\users\user\desktop\김준수의대학\2024\2024-2학기\2024-2 머신러닝\.venv\lib\site-packages (from lightgbm) (1.14.1)
Using cached lightgbm-4.5.0-py3-none-win_amd64.whl (1.4 MB)
Installing collected packages: lightgbm
Successfully installed lightgbm-4.5.0

In [55]:
import lightgbm as lgb

In [56]:
LGBM = lgb.LGBMClassifier(random_state=100)

In [57]:
LGBM.fit(X_train, y_train)

[LightGBM] [Info] Number of positive: 7639, number of negative: 1319094
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.146460 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1633
[LightGBM] [Info] Number of data points in the train set: 1326733, number of used features: 21
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.005758 -> initscore=-5.151434
[LightGBM] [Info] Start training from score -5.151434

LGBMClassifier(random_state=100)

In [58]:
train_pred = LGBM.predict(X_train)
test_pred = LGBM.predict(X_test)

In [59]:
from sklearn.metrics import accuracy_score
accuracy_score(test_pred, y_test)

0.9970798670626126

## Method of estimating Binary Classification

- <h3>confusion matrix</h1>

<img src="https://cdn.prod.website-files.com/5d7b77b063a9066d83e1209c/63b413d2cdc133446aa23fc5_636b9182cfaef2115e028921_HERO_1_Confusion.png" style="width: 80%; height: 500px; background-color: none">

| Metric | Formula | Interpretation |
|---|---|---|
| Accuracy | $(TP + TN) \over (TP + TN + FP + FN)$ | Overall correct predictions |
| Precision | $TP \over (TP + FP)$ | Proportion of positive predictions that are correct |
| Recall | $TP \over (TP + FN)$ | Proportion of actual positive instances that were correctly predicted |
| F1-Score | $2 * (Precision * Recall) \over (Precision + Recall)$ | Balance between precision and recall |
| ROC Curve | Plot of TPR vs. FPR | Trade-off between true positive rate and false positive rate |
| AUC | Area under the ROC curve | Overall performance of the model |

- <h3>1. Accuracy</h3>

Accuracy is the proportion of all classifications that were **correct**, whether positive or negative. It is mathematically defined as: <br> $ (TP + TN) \over (TP + TN + FP + FN)$ <br> **rate of correct classification and total classicitaion**

A perfect model would have zero false positives and zero false negatives and therefore an accuracy of 1.0, or 100%.
However, when the dataset is imbalanced, or where one kind of mistake (FN or FP) is more costly than the other, which is the case in most real-world applications, it's better to optimize for one of the other metrics instead.

- ### 2. Recall
Recall = $(\frac{TP}{TP + FN})$

---

In [60]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score

In [176]:
accuracy_score(y_test, test_pred)

0.9970760623291437

In [61]:
confusion_matrix(y_test, test_pred)

array([[522935,    714],
       [   821,   1191]])

In [62]:
print(classification_report(y_test, test_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    523649
           1       0.63      0.59      0.61      2012

    accuracy                           1.00    525661
   macro avg       0.81      0.80      0.80    525661
weighted avg       1.00      1.00      1.00    525661

In [63]:
train_pred_proba = LGBM.predict_proba(X_train)
test_pred_proba = LGBM.predict_proba(X_test)

In [66]:
test_pred_proba = test_pred_proba[:, 1]

In [67]:
roc_auc_score(y_test, test_pred_proba)

np.float64(0.9366034343410651)